@model RegisterViewModel
@{
    ViewData["nav"] = false;
}
<div class="container">
    <br />
    <br />
    <br />
    <form method="post">
        <div class="form-outline mb-4">
            <input type="email" id="email" asp-for="Email" required class="form-control" />
            <label class="form-label" for="email">Email address</label>
        </div>
        <div class="form-outline mb-4">
            <input type="text" id="name" required asp-for="Name" class="form-control" />
            <label class="form-label" for="name">Name</label>
        </div>
        <div class="form-outline mb-4">
            <input type="password" required asp-for="Password" id="pass1" class="form-control" />
            <label class="form-label" for="pass1">Password</label>
        </div>
        <div class="form-outline mb-4">
            <input type="password" required asp-for="ConfirmPassword" id="pass2" class="form-control" />
            <label class="form-label" for="pass2">ConfirmPassword</label>
        </div>
        @if(Context.Request.Method.ToLower() == "post" && Model.Error != null)
        {
            <div>
                <p class="text-danger">@Model.Error</p>
            </div>
        }
        @Html.AntiForgeryToken()
        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">Create Account</button>

        <!-- Register buttons -->
        <div class="text-center">
            <p>Already Have An Account? <a href="#!">Login</a></p>
        </div>
    </form>
</div>