@inject IUserManager userManager
@{
    var user = await userManager.GetAuthenticatedUserAsync();
}
<nav class="navbar navbar-expand-lg navbar-light bg-ligh">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">EShop</a>
        <button class="navbar-toggler"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarText"
                aria-controls="navbarText"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse ml-5" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
            </ul>
            <ul class="navbar-nav mr-auto me-4 mb-3 mb-lg-1">

                @if (Context.User.Identity?.IsAuthenticated ?? false)
                {
                    <li class="nav-item">

                        <a class="nav-link" href="#">
                            @user?.Name.Split(" ")[0]
                        </a>
                    </li>
                    <li class="nav-item">

                        <a class="nav-link" asp-route="Logout">
                            Logout
                        </a>
                    </li>
                    <li class="nav-item">

                        <a class="nav-link" href="#">
                            <span class="badge badge-pill bg-danger">1</span>
                            <span><i class="fas fa-shopping-cart"></i></span>
                        </a>
                    </li>
                }
                else
                {
                    <li class="nav-item">

                        <a class="nav-link" asp-route="Login">
                            Login
                        </a>
                    </li>
                    <li class="nav-item">

                        <a class="nav-link" asp-route="Register">
                            Register
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>
